<div class="task-card">
  <div class="task-header">
    <h2>{{ task().title }}</h2>
  </div>
  <div class="task-content">
    <p>{{ task().details }}</p>
    <div class="task-status">{{ task().status }}</div>
    <div class="control-btns">
      <app-button
        iconClass="fa-solid fa-spinner"
        [style]="{ backgroundColor: '#C0BA1D' }"
        (btnClick)="onStatusClick(task(), 'PENDING')"
      />
      <app-button
        iconClass="fa-solid fa-check"
        [style]="{ backgroundColor: '#B5DFB2' }"
        (btnClick)="onStatusClick(task(), 'COMPLETE')"
      />
    </div>
  </div>
</div>
